<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../reusables/layout'); %>
</head>

<body class="container">

    <header>
        <%- include('../reusables/menu'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Espace d'achat</h1>
            <hr>
            <div id="produits">
            <% prods.forEach(prod => { %>
                <div id="produit">
                    <img width="250" height="250" src="<%= prod.url_image%>"/>
                    <h2><%= prod.nom_produit %></h2>
                    <h3><%= prod.descript_produit %></h3>
                    <h3><%= prod.prix_produit%></h3>
                </div>
            <% }) %>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../reusables/footer'); %>
    </footer>
</body>

</html>