<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../reusables/layout'); %>
</head>

<body class="container">

    <header>
        <%- include('../reusables/menu'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Espace d'achat</h1>
            <hr>
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Desc</th>
                </tr>
                </thead>
                <tbody>
                <% prods.forEach(prod => { %>
                    <tr>
                        <td><%= prod.nom_produit %></td>
                        <td><%= prod.descript_produit %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <%- include('../reusables/footer'); %>
    </footer>
</body>

</html>