<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../reusables/layout'); %>
</head>

<body class="container">

    <header>
        <%- include('../reusables/menu'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Espace d'achat</h1>
            <hr>
            <div id="produits">
            <% prods.forEach(prod => { %>
                <div id="produit">
                    <img width="250" height="250" src="<%= prod.url_image%>"/>
                    <h2><%= prod.nom_produit %></h2>
                    <h3><%= prod.descript_produit %></h3>
                    <h3><%= prod.prix_produit%></h3>
                </div>
            <% }) %>
            </div>
            <br>
            <div class="noMatch">
                <% if(noMatch !== null) { %>
                <h3><%= noMatch %></h3>
                <% } %>
            </div>
            <br>
            <div class="search-container">
                <form action="/lister-produits" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Nom de produits" class="form-control">
                        <input type="submit" value="Recherche" class="btn btn-default">
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../reusables/footer'); %>
    </footer>
</body>

</html>
